body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background: linear-gradient(to right,#2b6cb0,#4299e1);
color:white;
}

/* Navbar */

.navbar{
    
    color: #00c6ff;
display:flex;
justify-content:space-between;
align-items:end;

padding:20px 60px;
}

.logo{
font-size:24px;
font-weight:bold;
}

.nav-buttons .btn{
text-decoration:none;
color:white;
border:1px solid white;
padding:8px 18px;
border-radius:6px;
margin-left:10px;
}

.nav-buttons .btn:hover{
background:white;
color:black;
}

/* Hero Section */

.hero{
text-align:center;
padding:80px 20px;
}

.hero h1{
font-size:48px;
margin-top:10px;
}

.hero span{
color:#ffd166;
}

.hero p{
max-width:600px;
margin:auto;
margin-top:15px;
opacity:0.8;
}

.hero-buttons{
margin-top:30px;
}

.primary-btn{
background:#ffd166;
color:black;
padding:12px 25px;
text-decoration:none;
border-radius:6px;
margin-right:10px;
}

.secondary-btn{
border:1px solid white;
color:white;
padding:12px 25px;
text-decoration:none;
border-radius:6px;
}

/* Features */

.features{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:rgba(255,255,255,0.1);
padding:25px;
border-radius:10px;
width:250px;
text-align:center;
}

/* Center Form Box */

.center-box{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-card{
background:linear-gradient(to right,#2b6cb0,#1e3a8a);
background-color: white;
padding:40px;
color: white;
border-radius:10px;
width:320px;
text-align:center;
}

.login-card h2{
margin-bottom:5px;
}

.login-card p{
opacity:0.8;
margin-bottom:20px;
}

/* Inputs */

.input-group{
text-align:left;
margin-bottom:15px;
}

.input-group label{
font-size:14px;
}

.input-group input{
width:100%;
padding:10px;
margin-top:5px;
border:none;
border-radius:6px;
}

/* Button */

.login-btn{
width:100%;
padding:12px;
background:#00c6ff;
border:none;
color:white;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

.login-btn:hover{
opacity:0.9;
}

/* Bottom Text */

.bottom-text{
margin-top:15px;
font-size:14px;
}

.bottom-text a{
color:#00c6ff;
text-decoration:none;
}

/* Vote Options */

.vote-option{
display:flex;
align-items:center;
margin-bottom:15px;
gap:10px;
}

/* Result Box */

.result-box{
margin-top:20px;
font-size:18px;
}

