<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Online Voting System</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<nav class="navbar">

<div class="logo">OnlineVote</div>

<div class="nav-buttons">
<a href="/login" class="btn">Login</a>
<a href="/register" class="btn">Register</a>
</div>

</nav>


<div class="hero">

<h1>Online Voting <span>System</span></h1>

<p>
cast your vote securely from anywhere. your identity is verified using your unique roll number-one vote per person,every time 
</p>

<div class="hero-buttons">

<a href="/register" class="primary-btn">
Register to Vote >
</a>

<a href="/login" class="secondary-btn">
Already Registered? Login
</a>

</div>

</div>


<div class="features">

<div class="card">
<h3>Secure Voting</h3>
<p>Each roll number can vote only once.preventing duplicate votes</p>
</div>

<div class="card">
<h3>Easy Registration</h3>
<p>Register using name and roll number and emails to get started</p>

</body>
</html>