<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Voter Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="center-box">

    <div class="login-card">

        <h2>Voter Login</h2>
        <p>Login with your roll number & password</p>

        <form method="POST">

            <div class="input-group">
                <label>Roll Number</label>
                <input type="text" name="roll" placeholder="Enter your roll number" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="login-btn">Login</button>

        </form>

        <p class="bottom-text">
            Don't have an account?
            <a href="/register">Register here</a>
        </p>

        <p class="bottom-text">
            <a href="/">Back to Home</a>
        </p>

    </div>

</div>

</body>
</html>