<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="center-box">

    <div class="login-card">

        <h2>Create Account</h2>
        <p>Register to participate in voting</p>

        <form method="POST">

            <div class="input-group">
                <label>Full Name</label>
                <input type="text" name="name" placeholder="Enter your name" required>
            </div>

            <div class="input-group">
                <label>Roll Number</label>
                <input type="text" name="roll" placeholder="Enter your roll number" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Create password" required>
            </div>

            <button type="submit" class="login-btn">Register</button>

        </form>

        <p class="bottom-text">
            Already registered?
            <a href="/login">Login here</a>
        </p>

        <p class="bottom-text">
            <a href="/">Back to Home</a>
        </p>

    </div>

</div>

</body>
</html>