<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Vote</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="center-box">

    <div class="login-card">

        <h2>Cast Your Vote</h2>
        <p>Select one candidate</p>

        <form method="POST">

            <div class="vote-option">
                <input type="radio" name="candidate" value="RAM" required>
                <label>RAM</label>
            </div>

            <div class="vote-option">
                <input type="radio" name="candidate" value="SURIYA">
                <label>SURIYA</label>
            </div>

            <button type="submit" class="login-btn">
                Submit Vote
            </button>

        </form>

    </div>

</div>

</body>
</html>